@import url("https://fonts.googleapis.com/css?family=Spartan:400,500,700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Spartan", Arial, Helvetica, sans-serif;
  color: #502050;
  text-align: center;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 374px;
  height: 232px;
  background: url(/images/bg-pattern-top-mobile.svg);
}

.wrapper::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  width: 375px;
  height: 503px;
  background: url(/images/bg-pattern-bottom-mobile.svg);
}

.company-blurb {
  margin-top: 3em;
}

.company-blurb__heading {
  font-size: 2em;
}

.company-blurb__content {
  color: #937b92;
  margin: 1.5em 0;
}

.reviews {
  margin: 2.5em 0;
}

.review {
  background: #f7f2f7;
  padding: 0.75em;
  margin-bottom: 1em;
  border-radius: 10px;
}

.review__star {
  margin-right: .5em;
}

.review__heading {
  color: #502050;
  font-size: 1.1em;
  margin-top: .5em;
}

.testimonial {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 75px 1fr;
      grid-template-columns: 75px 1fr;
  grid-row-gap: 1.75em;
  background: #502050;
  color: white;
  text-align: left;
  padding: 2.25em;
  margin-bottom: 1em;
  border-radius: 10px;
}

.testimonial__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #f7f2f7;
}

.testimonial__info {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.testimonial__verified {
  font-size: 0.95em;
  color: #ee68a4;
  font-weight: 400;
}

.testimonial__content {
  grid-column: span 2;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 5em;
}

.attribution a {
  color: #3e52a3;
}

@media (min-width: 1440px) {
  body {
    text-align: left;
  }
  .wrapper {
    width: 100%;
    max-width: 1200px;
    padding-top: 5em;
  }
  .wrapper::before {
    width: 584px;
    height: 362px;
    background: url(/images/bg-pattern-top-desktop.svg);
    z-index: -10;
  }
  .wrapper::after {
    width: 1085px;
    height: 673px;
    background: url(/images/bg-pattern-bottom-desktop.svg);
    top: initial;
    bottom: 0;
    z-index: -10;
  }
  .company-blurb {
    display: inline-block;
    width: 49.5%;
  }
  .company-blurb__heading {
    font-size: 3.75em;
  }
  .company-blurb__content {
    font-size: 1.1em;
  }
  .reviews {
    display: inline-block;
    width: 49.5%;
    padding-left: 2em;
  }
  .review {
    width: 100%;
    max-width: 500px;
    padding: 1em 2.25em;
    text-align: left;
    position: relative;
  }
  .review:nth-child(3n + 1) {
    left: 0;
  }
  .review:nth-child(3n + 2) {
    left: 5%;
  }
  .review:nth-child(3n + 0) {
    left: 10%;
  }
  .review__heading {
    display: inline-block;
    margin-left: 1.25em;
  }
  .testimonials {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(300px, 1fr))[3];
        grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-column-gap: 2em;
    margin-top: 2em;
    height: 280px;
  }
  .testimonial:nth-child(3n + 1) {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  .testimonial:nth-child(3n + 2) {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .testimonial:nth-child(3n + 0) {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}
/*# sourceMappingURL=main.css.map */