@import url("https://fonts.googleapis.com/css?family=Spartan:400,500,700&display=swap");

$dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);
$dark-grayish-magenta: hsl(303, 10%, 53%);
$light-grayish-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

// Svg size
$mobile-bg-top-size: (
  "width": 374px,
  "height": 232px
);
$mobile-bg-bottom-size: (
  "width": 375px,
  "height": 503px
);
$desktop-bg-top-size: (
  "width": 584px,
  "height": 362px
);
$desktop-bg-bottom-size: (
  "width": 1085px,
  "height": 673px
);

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Spartan", Arial, Helvetica, sans-serif;
  color: $dark-magenta;
  text-align: center;
}

.wrapper {
  width: 90%;
  min-height: 100%;
  margin: 0 auto;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: map-get($mobile-bg-top-size, "width");
    height: map-get($mobile-bg-top-size, "height");
    background: url(/images/bg-pattern-top-mobile.svg);
  }

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    width: map-get($mobile-bg-bottom-size, "width");
    height: map-get($mobile-bg-bottom-size, "height");
    background: url(/images/bg-pattern-bottom-mobile.svg);
  }
}

.company-blurb {
  margin-top: 3em;

  &__heading {
    font-size: 2em;
  }

  &__content {
    color: $dark-grayish-magenta;
    margin: 1.5em 0;
  }
}

.reviews {
  margin: 2.5em 0;
}

.review {
  background: $light-grayish-magenta;
  padding: 0.75em;
  margin-bottom: 1em;
  border-radius: 10px;
 
  &__star {
    margin-right: .5em;
  }

  &__heading {
    color: $dark-magenta;
    font-size: 1.1em;
    margin-top: .5em;
  }
}

.testimonial {
  display: grid;
  grid-template-columns: 75px 1fr;
  grid-row-gap: 1.75em;
 
  background: $dark-magenta;
  color: $white;
  text-align: left;
  padding: 2.25em;
  margin-bottom: 1em;
  border-radius: 10px;
 
  &__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $light-grayish-magenta;
  }
 
  &__info {
    align-self: center;
  }
 
  &__verified {
    font-size: 0.95em;
    color: $soft-pink;
    font-weight: 400;
  }
 
  &__content {
    grid-column: span 2;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}